.user_btn {
    box-shadow: var(--shadow);
    display: flex;
    margin: 0px 0px 0px auto;
    width: 100%;
    height: 60px;
    border-radius: 33px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--grey-color);
    background-color: #fff;
    padding: 15px;
}

.user_btn .dir {
    display: contents;
    text-transform: uppercase;
    line-height: 60px;
    color: #888888;
}

.user_btn svg {
    margin-right: 10px;
    fill: var(--darkgrey-color) !important;
}

.user_image {
    width: 40px;
    height: 40px;
}

.filter_icon img {
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.filter_icon {
    display: contents;
}

.filter_icon .dir-ltr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
}

.sigma_header-bottom-inner .row {
    align-items: center;
}

.sigma_header-bottom-inner .row .col-md-1 {
    display: flex;
    align-items: center;
}

.top-search-bar-fillter .row {
    margin: 0px !important;
}

.navigation-search-bar {
    background: white;
}

.navigation-search-bar .top-search-bar-fillter {
    width: 50%;
    margin: auto;
}

.header-top-filter {
    padding: 15px 0px;
}

.navigation-search-bar {
    padding: 15px 15px;
    height: calc(506px - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-search-bar label.icons-image {
    width: 23px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
}

.col-md-4 {
    position: relative;
}

.navigation-search-bar .p-button-rounded {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
}

.filter-slider {
    padding-top: 10px;
}

.filter-slider .product-item.active {
    position: relative;
}

.filter-slider .product-item.active h4 {
    color: var(--main-color) !important;
}

.filter-slider .product-item.active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: var(--main-color) !important;
}
.p-field.p-grid,
.p-formgrid.p-grid {
    margin-top: 150px;
}

p-calendar:hover {
    color: aqua;
}
.login-popup.ng-tns-c91-10 {
    padding: 50px 15px 15px 15px;
}
.p-element.ng-trigger.ng-trigger-animation.ng-tns-c91-5.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable {
    width: 31vw !important;
}
.p-dialog-header.ng-tns-c91-4 {
    position: absolute;
    z-index: 3;
    right: -10px !important;
    top: -14px !important;
}
.popup-heading {
    font-size: 21px;
    text-align: center;
    color: #ec3539;
    margin-bottom: 0px;
}
.offer-text {
    font-size: 23px;
}
.mobile-num-design {
    text-align: center;
    font-size: 14px;
}
.login-popup h2 {
    font-size: 16px;
}
h5.otp-head {
    text-align: center !important;
    color: red !important;
}
.otp-head1 {
    text-align: center;
    color: black;
    font-size: 14px;
    margin-top: 10px;
}
h5.resend-head {
    font-size: 10px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #bbbbbb;
}

.errorshow {
    color: #ec3539;
}
span.mandatory-fields {
    color: #ec3539;
}
h3.icon-head-text {
    line-height: 46px !important;
}
@media only screen and (min-width: 1920px) {
    .col-lg-8.col-md-8.col-sm-12.animation-text-one {
        text-align: right;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-lg-4.col-md-4.col-sm-12.animation-text-two {
        padding-left: 0px;
    }
    .col-lg-5.col-md-4.col-sm-5.animation-text-two {
        text-align: left;
        padding-left: 0px;
    }
    .search-bar-locations.p-p-0 {
        margin-bottom: 40px;
    }
    .verticalFlip {
        display: inline;
        margin-bottom: 30px;
        font-size: 25px;
    }
    }
@media only screen and (min-width: 820px) and (max-width: 1180px) {
    .navigation-search-bar {
    padding: 15px 15px;
    height: calc(506px - 65px);
    display: flex;
    height: calc(358px - 65px) !important;
    justify-content: center;
    align-items: center;
}
p.animation-text-heading {
    color: white;
    font-size: 16px;
}
.search-bar-locations.p-p-0 {
    display: block!important;
}
.col-lg-8.col-md-8.col-sm-12.animation-text-one {
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
}
.col-lg-4.col-md-4.col-sm-12.animation-text-two {
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-lg-8.col-md-8.col-sm-12.animation-text-one {
        text-align: right;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-lg-4.col-md-4.col-sm-12.animation-text-two {
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }
}

 
@media only screen and (min-width: 360px) and (max-width: 740px) {

    p.animation-text-heading {
        font-size: 14px;
        color: white;
    }
    
    .verticalFlip {
        font-size: 16px!important;
        line-height: 27px;
    }
}


