<div class="p-grid">
  <div class="p-col-12 banner-add-main-section">
    <div class="title-area">
      <h5 class="admin-heading">
        {{pagetitle}}
      </h5>
  </div>
      <div class="card p-pt-3">
        <p-toast key="toastmsg"></p-toast>
        <form [formGroup]="bannerForm">
          <div class="p-fluid p-formgrid p-grid pare_margin">
            <!-- <div class="p-fluid"> -->
          
            <!-- </div> -->

            <div class="p-field p-col-4">
              <label>Banner Title<span class="mandatory-feilds">*</span></label>
              <input id="banner_title" placeholder="Enter Banner Title" formControlName="banner_title" type="text"
                pInputText [ngClass]="{ 'is-invalid': submitted && f.banner_title.errors }">
              <div *ngIf="submitted && f.banner_title.errors" class="invalid-feedback">
                <div *ngIf="f.banner_title.errors.required">Banner Title is required</div>
                <div *ngIf="f.banner_title.errors">Only Alphabets Allowed</div>
              </div>
            </div>
            <!-- <div class="p-field p-col-6">
              <label>Banner Url<span class="mandatory-feilds">*</span></label>
              <input id="banner_url" placeholder="Enter banner URL(https://fascinatingdiamonds.com)"
                formControlName="banner_url" type="text" pInputText
                [ngClass]="{ 'is-invalid': submitted && f.banner_url.errors }">
              <div *ngIf="submitted && f.banner_url.errors" class="invalid-feedback">
                <div *ngIf="f.banner_url.errors.required">Banner URL is required</div>
                <div *ngIf="f.banner_url.errors">Wrong URL</div>
              </div>
            </div> -->
            <div class="p-field p-col-4">
              <label>Banner Slug<span class="mandatory-feilds">*</span></label>
              <input placeholder="Enter Banner Slug" formControlName="slug" type="text" pInputText
                [ngClass]="{ 'is-invalid': submitted && f.slug.errors }">
              <div *ngIf="submitted && f.slug.errors" class="invalid-feedback">
                <div *ngIf="f.slug.errors.required">Banner Slug is required</div>
                <div *ngIf="f.slug.errors">Only Alphabets and _ Allowed</div>
              </div>
            </div>
           
            <div class="p-field p-col-1">
              <label class="mb-0">Status</label>
              <p-inputSwitch class="checkbox-mt-10 d-block" formControlName="status" 
                [ngClass]="{ 'is-invalid': submitted && f.status.errors }"></p-inputSwitch>

              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div *ngIf="f.status.errors.required">Please Select Status</div>
              </div>
            </div>
            <!-- <div class="p-field p-col-6">
              <label>Banner Content</label>
              <input id="banner_content" placeholder="Enter Banner Content" formControlName="banner_content" type="text"
                pInputText>
            </div> -->
            <input formControlName="disable" type="hidden" value="false">
          </div>
          <div class="p-fluid p-formgrid p-grid pare_margin">
            <div class="p-field p-col-4">
              <label>Image</label>
              <p-fileUpload multiple="multiple" chooseLabel="Upload Banner" uploadLabel="Show data" cancelLabel="Cancel"
                accept="image/*" maxFileSize="10000000" auto="auto" customUpload="true"
                (uploadHandler)="picUploader($event)">
                <ng-template pTemplate="content">
                  <div class="banner-images">

                  </div>
                  <!-- <div *ngIf="bannerImage">
                    <div class="banner-images" *ngFor="let file of files; let indexOfElement=index;">
                      <label>Alt of {{indexOfElement+1}}</label>
                      <input value="" id="banner_image_{{indexOfElement+1}}" type="text">
                    </div>
                  </div> -->
                </ng-template>
              </p-fileUpload>
            </div>
          </div>
          <div class="button-set p-col-12 d-flex p-fluid p-jc-md-end">
            <div class="p-formgrid p-grid">
              <p-toast></p-toast>
              <button type="text" (click)="onSubmit()" pButton icon="pi pi-check" label="Save" class="p-button-success p-mr-2" style="width: auto"></button>
              <p-confirmDialog header="Confirmation" key="confirm1" icon="pi pi-exclamation-triangle"
                message="Are you sure you want to proceed?"
                acceptButtonStyleClass="p-button-text" rejectButtonStyleClass="p-button-text" class="p-button-info"></p-confirmDialog>
              <button pButton pRipple label="Reset" icon="pi pi-refresh" type="reset" (click)="onReset()" style="width: auto" class="p-button-info mr-2"></button>
              <button pButton pRipple type="button" icon="pi pi-arrow-left" label="Back" class="p-button-denger" (click)="backLink()" style="width: auto"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
