<ng-container *ngIf="!appLoading; else footerSkeleton">
<!-- Footer Start -->
<footer class="style-4 has-bg">
    <div class="container-fluid pl-0 pr-0">
        <div class="sigma_footer-bottom mt-0">
            <div class="row footer-size">
                <!-- Footer Links Section -->
                <div class="col-md-6 text-lg-left">
                    <div class="footer-menu">
                        <ul class="m-0">
                            <li><a routerLink="/">Home</a></li>
                            <li class="dot"><a href="#">.</a></li>
                            <li><a routerLink="/terms">Terms & Conditions</a></li>
                            <li class="dot"><a href="#">.</a></li>
                            <li><a routerLink="/blog">Blogs</a></li>
                            <li class="dot"><a href="#">.</a></li>
                            <li><a routerLink="/privacy-policy">Privacy & Policy</a></li>
                            <li class="dot"><a href="#">.</a></li>
                            <li><a routerLink="/policy">About-Us</a></li>
                            <li class="dot"><a href="#">.</a></li>
                            <li><a routerLink="/subscribe">Subscriptions</a></li>
                            <li class="dot"><a href="#">.</a></li>
                            <li><a routerLink="/contact-us">Contact <span style="color: #ec3539; font-weight: 600;">: +91 93720 91300</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Social Icons Section -->
                <div class="col-md-6 text-lg-left social-icons">
                    <a href="https://www.facebook.com/eazyvenue/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/company/eazyvenue-com/posts/?feedView=all" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/eazyvenue/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <!-- Copyright Section -->
            <div class="row footer-size">
                <div class="col-md-12 text-center copyright">
                    <p>&copy; 2025 Eazy Venue - Made With Love</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</ng-container>
<ng-template #footerSkeleton>
  <footer class="style-4 has-bg p-4">
    <div class="container-fluid">
      <div class="row align-items-center">
        
        <!-- Left copyright skeleton -->
        <div class="col-md-4 mb-3">
          <p-skeleton width="80%" height="1.5rem"></p-skeleton>
        </div>

        <!-- Footer menu skeleton -->
        <div class="col-md-8">
          <div class="d-flex flex-wrap gap-2">
            <p-skeleton width="100px" height="1rem"></p-skeleton>
            <p-skeleton width="120px" height="1rem"></p-skeleton>
            <p-skeleton width="90px" height="1rem"></p-skeleton>
            <p-skeleton width="140px" height="1rem"></p-skeleton>
            <p-skeleton width="110px" height="1rem"></p-skeleton>
          </div>
        </div>

      </div>
    </div>
  </footer>
</ng-template>

<!-- Footer End -->
