<div class="sidebar">
    <div class="sidebar-widget">
        <img src="assets/img/logo.png" class="mb-3" alt="img">
        <p class="mb-0">Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.</p>
    </div>
    <!-- Recent Posts Widget -->
    <div class="sidebar-widget">
        <h5>Recent Posts</h5>
        <!-- Data -->
        <article class="media" *ngFor="let item of getRecentPost()">
            <a routerLink="/blog-details/{{item.id}}"><img [src]="item.gridimg"
                [alt]="item.title"></a>
            <div class="media-body">
                <h6> <a routerLink="/blog-details/{{item.id}}">{{item.title}}</a> </h6>
                <span>{{item.postdate}}</span>
            </div>
        </article>
        <!-- Data -->
    </div>
    <div class="sidebar-widget">
        <h5>Follow Us</h5>
        <ul class="social-media">
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>