<div class="container" style="padding-top: 100px;">
    <h1 style="color: #ed3539; font-weight: 600; text-align: center;">Cancellation and Refund Policy</h1>
    <div class="container">
        <p class="mb-0">At EazyVenue, we are committed to protecting your privacy. This Privacy Policy explains how
            we collect,
            use, and disclose your personal information when you use our website, EazyVenue.in (the "Site"). By
            using the Site, you agree to the collection and use of your personal information in accordance with this
            Privacy Policy.
        </p>
        <h2 class="ref_head">
            Information We Collect
        </h2>
        <p class="mb-0">We collect information you provide directly to us when you use our Site, such as when you
            create an
            account, book a venue, or contact us. This information may include your name, email address, phone
            number, and other contact information.</p>
        <p class="mb-0"> We also collect information automatically when you use our Site, such as your IP address,
            browser type,
            and device type. We may also use cookies and similar technologies to collect and store information about
            your preferences and to personalize your experience on our Site.</p>
        <h2 class="ref_head">
            Use of Information
        </h2>
        <p class="mb-0">We use the information we collect to provide, maintain, and improve our Site, as well as to
            personalize
            your experience on our Site. We may also use the information to communicate with you, such as to send
            you updates about your bookings, or to respond to your inquiries.</p>
        <h2 class="ref_head">
            Sharing of Information
        </h2>
        <p class="mb-0">We may share your information with third-party service providers who perform services on our
            behalf, such
            as website hosting, data analysis, and payment processing. These service providers are only permitted to
            use your information in connection with the services they provide to us.</p>
        <p class="mb-0">We may also disclose your information as required by law or in response to a request from a
            government or
            law enforcement agency.</p>
        <h2 class="ref_head">
            Security
        </h2>
        <p class="mb-0">We take reasonable measures to protect your information from unauthorized access, use, or
            disclosure.
            However, no method of transmitting or storing information is completely secure, and we cannot guarantee
            the security of your information.</p>
        <h2 class="ref_head">
            Changes to this Privacy Policy
        </h2>
        <p class="mb-0">We may update this Privacy Policy from time to time to reflect changes in our practices or
            applicable
            laws. We will notify you of any material changes to this Privacy Policy by posting the updated policy on
            our Site.</p>
        <h2 class="ref_head">
            Contact Us
        </h2>
        <p class="mb-0">If you have any questions or concerns about this Privacy Policy or our data practices,
            please contact us
            at info@eazyvenue.com or +91 93720 91300</p>
        <div style="position: relative">
            <a href="https://www.youtube.com/watch?v=bgUFho4i3mY" target="_blank"><br>
            </a>
        </div>
    </div>
    
</div>