<div class="footer-top">
    <div class="container">
        <div class="row footer-btn-wrapper">
            <div class="col-lg-7 footer-widget">
                <h4>Download Our App</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s </p>
            </div>
            <div class="col-lg-5 col-md-12 footer-widget">
                <div class="footer-btn">
                    <a href="#" class="btn-custom-2 grey"> <i class="fab fa-google-play"></i>Google Play</a>
                    <a href="#" class="btn-custom-2 grey"> <i class="fab fa-apple"></i>App Store</a>
                </div>
            </div>
        </div>
    </div>
</div>