<div class="p-grid">
    <div class="p-col-12">
        <div class="title-area">
            <h5 class="admin-heading">
                Edit Category
            </h5>
        </div>
        <div class="card">
            <p-toast key="toastmsg" position="top-right"></p-toast>
            <form [formGroup]="categoryForm" *ngIf="this.categoryForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" pInputText class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Category name is required</div>
                            <div *ngIf="f.name.errors">Only alphabets allowed</div>
                        </div>
                    </div>
                    <div class="p-field p-col-4">
                        <label for="description">Description</label>
                        <textarea inputId="textarea" rows="3" class="form-control" formControlName ="description" pInputTextarea></textarea>
                    </div>        
                    <div class="p-field p-col-4">
                        <label for="status">Status</label>
                        <p-inputSwitch formControlName="status" (ngModelChange)="onStatusSelect($event)" style="display: block;"></p-inputSwitch>
                        <!-- <p-dropdown inputId="status" [options]="statuses"  formControlName="status" placeholder="Select" optionLabel="label" (ngModelChange)="onStatusSelect($event)"></p-dropdown> -->
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Please select status</div>
                        </div>   
                    </div>                              
                    <!-- <div class="p-field p-col-4">
                        <label for="status">Status</label>
                        <p-dropdown inputId="status" [options]="statuses" formControlName="status" placeholder="Select" optionLabel="label" (ngModelChange)="onStatusSelect($event)"></p-dropdown>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Please, Select Status</div>
                        </div>                
                    </div> -->
                </div>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="categoryimg">Category Image</label>
                        <p-fileUpload name="uploadFiles[]" chooseLabel="Upload Category Photo" uploadLabel="Show data" cancelLabel="Cancel" accept="image/*" maxFileSize="1000000" auto="auto" customUpload="true" (uploadHandler)="picUploader($event)">
                            <ng-template pTemplate="content">      
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div class="p-field p-col-4" *ngIf="showUploadedpic">
                        <img src="{{ imageProfile }}" alt="freya-layout" height="50px"  width="200px"/>
                    </div>
                    
                </div>
                <div class="text-right">
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-success mr-2"></button>
                    <button pButton pRipple label="Reset" icon="pi pi-refresh"  type="reset" (click)="onReset()" class="p-button-info mr-2"></button>

                    <!-- <button pButton pRipple label="Save" icon="pi pi-check" [disabled]="userForm.invalid"></button> -->
                    <!-- <button pButton pRipple label="Reset" icon="pi pi-times" type="reset" (click)="onReset()"></button> -->
                    <button pButton pRipple type="button" icon="pi pi-arrow-left" label="Back" class="p-button-denger" (click)="backLink()"></button>
                </div>
            </form>
        </div>
        <div class="button-set back">
            <div class="p-fluid p-formgrid">
            <p-toast></p-toast>
            </div>
        </div>
    </div>
</div>