<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="sidebar sticky-sidebar user-nav sidebar-left">
                    <ul>
                        <li> <a routerLink="/profile"> Edit Profile</a> </li>
                        <li> <a routerLink="/profile-listing">My Weddings</a> </li>
                        <li> <a class="active" routerLink="/profile-saved">Saved Weddings</a> </li>
                        <li> <a class="logout" routerLink="/login"><i class="flaticon-shut-down-button"></i> Logout</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="acr-empty-section">
                    <i class="flaticon-home"></i>
                    <h3>You Haven't Saved Any Weddings</h3>
                    <p>You still havent saved any listings yet, Go back to the listings page and check some of your favorite listings</p>
                    <a routerLink="/listing-grid" class="btn-custom">Go to Weddings</a>
                </div>
            </div>
        </div>
    </div>
</div>