<div class="p-grid">
    <div class="p-col-12 banner-main-section manage-product-section ">        
        <div class="card">
			<h1 class="page-title">Banner Management</h1>
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Add Banner" title="Add New Banner" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="addNewBanner()"></button>
					<button pButton label="Clear Filters" title="Clear Filters" class="p-button-outlined p-mr-2" icon="pi pi-filter-slash" (click)="clear()"></button>
                <!--    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
                </ng-template>

                <ng-template pTemplate="right">
                    <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="dt.exportCSV()"></button> -->
                </ng-template>
            </p-toolbar>
			<!-- <p-table #dt [value]="venueList" [columns]="cols" [rows]="10" [paginator]="true" [resizableColumns]="true"
			class="p-mb-0" [autoLayout]="true" scrollDirection="both" [rowHover]="true" dataKey="_id"
			styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped"
			[rowsPerPageOptions]="paginationOption" [lazy]="true" (onLazyLoad)="refreshVenueList($event)"
			[totalRecords]="totalRecords" [loading]="loading"> -->

            <p-table #dt [value]="bannerlist" [columns]="cols" [paginator]="true" [rows]="10" [lazy]="true" 
			[resizableColumns]="true" 
			class="p-mb-0" [autoLayout]="true" scrollDirection="both" [rowHover]="true" dataKey="_id" 
			(onLazyLoad)="loadBanners($event)" 
            [totalRecords]="totalRecords"  [rowsPerPageOptions]="[5,10,15,20]" 
			styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped">
				<!-- <ng-template pTemplate="caption">
					<div class="p-d-flex p-flex-column p-flex-md-row table-header">						
						<span class="p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
						    placeholder="Global Search"/>
                        </span>                        
					</div>
				</ng-template> -->
				<ng-template pTemplate="header" let-columns>
					<tr>
						<tr>
							<th pSortableColumn="banner_title" class="p-element p-frozen-column col-80 text-nowrap">
								<div class="p-d-flex p-jc-between p-ai-center">
									Banner Title
									<p-sortIcon field="banner_title"></p-sortIcon>
								</div>
							</th>
	
							<th class="col-width text-nowrap">
								<div class="p-d-flex p-jc-between p-ai-center">
									Banner Image
								</div>
							</th>

							<th pSortableColumn="banner_url" class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Banner Url
									<p-sortIcon field="banner_url"></p-sortIcon>
								</div>
							</th>
							<th pSortableColumn="banner_content" class="col-width">
								<div class="p-d-flex p-jc-between p-ai-center">
									Banner Content
									<p-sortIcon field="banner_content"></p-sortIcon>
								</div>
							</th>
							<th pSortableColumn="status" class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Status
									<p-sortIcon field="status"></p-sortIcon>
								</div>
							</th>
							
							<th pSortableColumn="created_at" class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Date of Creation
									<p-sortIcon field="created_at"></p-sortIcon>
									<!-- <p-columnFilter type="date" field="created_at" display="menu" class="p-ml-auto"></p-columnFilter> -->
								</div>
							</th>
							<th pSortableColumn="created_by" class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Created By
									<p-sortIcon field="created_by"></p-sortIcon>
								</div>
							</th>
							<th pSortableColumn="updated_at" class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Modified On
									<p-sortIcon field="updated_at"></p-sortIcon>
								</div>
							</th>
							<th pSortableColumn="updated_by" class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Modified By
									<p-sortIcon field="updated_by"></p-sortIcon>
								</div>
							</th>
							
							<th class="text-nowrap col-100">
								<div class="p-d-flex p-jc-between p-ai-center">
									Action
								</div>
							</th>	
  
					</tr>
					<tr>
						<!-- <th *ngFor="let col of columns" [ngSwitch]="col.field">
						  <input  pInputText type="text"
							(input)="dt.filter($event.target.value, col.field, 'contains')" />
						</th> -->
						<th [ngSwitch]="banner_title" >
							<input  pInputText type="text" (keyup.enter)="dt.filter($event.target.value, 'banner_title', 'contains')" style="width: 100%;" [value]="dt.filters['banner_title'] ? dt.filters['banner_title'].value : ''" />
						</th>
						<th>
							
						</th>
						<th [ngSwitch]="banner_url">
							<input  pInputText type="text" (keyup.enter)="dt.filter($event.target.value, 'banner_url', 'contains')" style="width: 100%;" [value]="dt.filters['banner_url'] ? dt.filters['banner_url'].value : ''" />
						</th>
						<th [ngSwitch]="banner_content">
							<input  pInputText type="text" (keyup.enter)="dt.filter($event.target.value, 'banner_content', 'contains')" style="width: 100%;" [value]="dt.filters['banner_content'] ? dt.filters['banner_content'].value : ''" />
						</th>

						<th [ngSwitch]="status">
							<p-dropdown #pDropDownId [options]="statuses" appendTo="body" (onChange)="dt.filter($event.value, 'status', 'equals')" styleClass="p-column-filter" placeholder="Select Status" [showClear]="true">
								<ng-template let-option pTemplate="item" >
								 <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
								</ng-template>
						   </p-dropdown>
						</th>
						
						<th [ngSwitch]="created_at">
							<p-calendar #pCalendarId  placeholder="DD/MM/YYYY" appendTo="body" monthNavigator="true" class="mb-2" readonlyInput="true" yearNavigator="true" yearRange="1950:2050" class="p-column-filter" inputId="calendar" dateFormat="dd/mm/yy" (onSelect)="dt.filter($event,'created_at', 'dateIs')" [showIcon]="true"  [(ngModel)]="calvalue" ></p-calendar>
						</th>
						<th [ngSwitch]="createdby">
							<input  pInputText type="text"  (keyup.enter)="dt.filter($event.target.value, 'createdby', 'contains')" style="width: 100%;" [value]="dt.filters['createdby'] ? dt.filters['createdby'].value : ''" />
						</th>
						<th [ngSwitch]="updated_at">
							<p-calendar #pCalendarId placeholder="DD/MM/YYYY" monthNavigator="true" class="mb-2" readonlyInput="true" yearNavigator="true" yearRange="1950:2050"  class="p-column-filter" appendTo="body" inputId="calendar" dateFormat="dd/mm/yy" (onSelect)="dt.filter($event,'updated_at', 'dateIs')" [showIcon]="true"  [(ngModel)]="ucalvalue" ></p-calendar>
						</th>
						<th [ngSwitch]="updatedby">
							<input  pInputText type="text" (keyup.enter)="dt.filter($event.target.value, 'updatedby', 'contains')" style="width: 100%;" [value]="dt.filters['updatedby'] ? dt.filters['updatedby'].value : ''" />
						</th>
					
						<th>
						</th>
					  </tr>
				</ng-template>
				<ng-template pTemplate="body" let-banner>
					<tr class="p-selectable-row">
						<td>
							{{banner.banner_title}}
						</td>
						<td>	
							<p-galleria [effect]="slide"  [(value)]="banner.banner_image" [(visible)]="banner.bannerVisible" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7" [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
								<ng-template pTemplate="item" let-item>
									<img  [src]="item.banner_image_src" style="width:100%; height:100%; display: block;"/>	
								</ng-template>		
							</p-galleria>
							<button pButton *ngIf="banner.banner_image.length>0" type="button" icon="pi pi-external-link" label="View" (click)="banner.bannerVisible=true"></button>
						</td>
						<td>
							<a target="_blank" href="{{banner.banner_url}}">{{banner.banner_url}}</a>
						</td>
						<td>
							{{banner.banner_content}}
						</td>
						
                        <td>
							{{banner.status}}
							
						</td>
						<td>
							{{banner.created_at | date: 'MM/dd/yyyy'}}
						</td>
						<td>
							{{banner.createdBy}}
						</td>
						<td>
							{{banner.updated_at | date: 'MM/dd/yyyy'}}
						</td>
						<td>
							{{banner.updatedBy}}
						</td>
						
						
						<td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" title="Edit Banner" (click)="editBanner(banner.id)" pTooltip="Edit Banner" tooltipPosition="bottom"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-denger" title="Delete Banner" (click)="deleteBanner(banner)" pTooltip="Delete Banner" tooltipPosition="bottom"></button>
                        </td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="12">No Banners found.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        In total there are {{totalRecords }} Banners.
                    </div>
                </ng-template>
			</p-table>
        </div>
		<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
