*:hover{
    text-decoration: none !important;
}

.checkbox-mt-10 {
   position: relative;
   top: 10px;
}
input.radio-btn {
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    left: -4px;
}

button.p-treetable-toggler.p-link.p-ripple{
    margin-left: 40px;
}
.same-as-place{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}
label.same-agency{
    margin: 10px;
}

.product-image {
	width: 50px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

:host ::ng-deep button {
	margin-right: .25em;
}
.div-border{
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#EEEEEE 100%);
    border-right: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
    width: 100%;
}
.pare_margin {
    margin-right: -1.5rem;
    margin-left: -1.4rem;   
}
.mandatory-fields{
    color:#FF0000;
}
.p-field > label {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-right: 12px;
}
.p-fieldset-legend>span {
    display: flex;
    align-items: center;
    justify-content: left;
    color: black;
}
h5.admin-heading {
    color: #eb3438;
    font-size: 16px;
}
h5.p-mb-3 {
    font-size: 16px;
}
.p-field > label {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding-right: 12px;
    font-size: 14px;
    color: #515151;
}