<div class="section section-padding">
    <div class="container">
        <div class="row">
            <!-- Compare Item Start -->
            <div class="col-lg-4">
                <div class="listing compare-listing-item">
                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/1"><img src="assets/img/listings/1.jpg" alt="listing"></a>
                        <div class="listing-badges">
                            <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                            <span class="listing-badge pending"> Pending</span>
                        </div>
                        <div class="listing-controls">
                            <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                            <a href="#" class="remove"><i class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                    <div class="listing-body">
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/1" title="The Muse Sarovar Portico">The Muse Sarovar Portico</a> </h5>
                        <span class="listing-price">3,500$ <span>/Person</span> </span>
                        <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a routerLink="/listing-details-v1/1" class="btn-custom btn-sm secondary">View Details</a>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-price-tags"></i>
                    <div class="acr-compare-feature-body">
                        <h6>In Budget</h6>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-sketch"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Wedding Planning</h6>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-seller"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Amenities</h6>
                        <span>2,200</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-house"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Property Type</h6>
                        <span>Home</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-new"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Condition</h6>
                        <span>New</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-visibility"></i>
                    <div class="acr-compare-feature-body">
                        <h6>View</h6>
                        <span>City View</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-pet-house"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Pet Friendly</h6>
                        <span>No</span>
                    </div>
                    <i class="custom-danger fas fa-times"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-chair"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Seating</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-plan"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Cooling</h6>
                        <span>No</span>
                    </div>
                    <i class="custom-danger fas fa-times"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-mailbox"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Mailbox</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-parking"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Parking</h6>
                        <span>No</span>
                    </div>
                    <i class="custom-danger fas fa-times"></i>
                </div>
            </div>
            <!-- Compare Item End -->
            <!-- Compare Item Start -->
            <div class="col-lg-4">
                <div class="listing compare-listing-item">
                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/1"><img src="assets/img/listings/2.jpg" alt="listing"></a>
                        <div class="listing-badges">
                            <span class="listing-badge rent"> Rental</span>
                        </div>
                        <div class="listing-controls">
                            <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                            <a href="#" class="remove"><i class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                    <div class="listing-body">
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/1" title="Theodore Lowe, Azusa New York 39531">Theodore Lowe, Azusa New York 39531</a> </h5>
                        <span class="listing-price">2,400$ <span>/Person</span> </span>
                        <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a routerLink="/listing-details-v1/1" class="btn-custom btn-sm secondary">View Details</a>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-price-tags"></i>
                    <div class="acr-compare-feature-body">
                        <h6>In Budget</h6>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-sketch"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Wedding Planning</h6>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-seller"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Amenities</h6>
                        <span>2,200</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-house"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Property Type</h6>
                        <span>Party Launge</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-new"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Condition</h6>
                        <span>Used</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-visibility"></i>
                    <div class="acr-compare-feature-body">
                        <h6>View</h6>
                        <span>Forest View</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-pet-house"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Pet Friendly</h6>
                        <span>No</span>
                    </div>
                    <i class="custom-danger fas fa-times"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-chair"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Seating</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-plan"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Cooling</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-mailbox"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Mailbox</h6>
                        <span>No</span>
                    </div>
                    <i class="custom-danger fas fa-times"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-parking"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Parking</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
            </div>
            <!-- Compare Item End -->
            <!-- Compare Item Start -->
            <div class="col-lg-4">
                <div class="listing compare-listing-item">
                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/1"><img src="assets/img/listings/3.jpg" alt="listing"></a>
                        <div class="listing-badges">
                            <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                            <span class="listing-badge pending"> Pending</span>
                        </div>
                        <div class="listing-controls">
                            <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                            <a href="#" class="remove"><i class="far fa-times-circle"></i></a>
                        </div>
                    </div>
                    <div class="listing-body">
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/1" title="Cecilia Chapman, Mankato Mississippi 96522">Cecilia Chapman, Mankato Mississippi 96522</a> </h5>
                        <span class="listing-price">2,600$ <span>/Person</span> </span>
                        <p class="listing-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a routerLink="/listing-details-v1/1" class="btn-custom btn-sm secondary">View Details</a>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-price-tags"></i>
                    <div class="acr-compare-feature-body">
                        <h6>In Budget</h6>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-sketch"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Wedding Planning</h6>
                        <span>Yes</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-seller"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Amenities</h6>
                        <span>2,200</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-house"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Property Type</h6>
                        <span>Wedding Gifts</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-new"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Condition</h6>
                        <span>New</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-visibility"></i>
                    <div class="acr-compare-feature-body">
                        <h6>View</h6>
                        <span>City View</span>
                    </div>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-pet-house"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Pet Friendly</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-chair"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Seating</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-plan"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Cooling</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-mailbox"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Mailbox</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
                <div class="acr-compare-feature">
                    <i class="flaticon-parking"></i>
                    <div class="acr-compare-feature-body">
                        <h6>Parking</h6>
                        <span>Yes</span>
                    </div>
                    <i class="custom-success fas fa-check"></i>
                </div>
            </div>
            <!-- Compare Item End -->
        </div>
    </div>
</div>