<p-toast key="toastmsg"></p-toast>
<div class="sigma_header-bottom filter-div">
    <div class="sigma_header-bottom-inner">
        <div class="w-100 container-fluid">
            <div class="p-1 occasion-icons">
                <div class="row">
                    <div class="col-auto d-flex align-items-center occasionhd">
                        <h3 class="icon-head-text">What's your occasion?</h3>
                    </div>
                    <div class="col venue-categories-icons filter-slider">
                        <p-carousel [value]="categoryMenuList" [numVisible]="11" [numScroll]="14" [circular]="false"
                            [showIndicators]="false" [responsiveOptions]="carouselResponsiveOptions">
                            <ng-template let-categoryMenu pTemplate="item">
                                <!-- <div (click)="onClickCategory(categoryMenu)" class="product-item {{categoryMenu.show}}">
                                <div class="product-item-content">
                                    <div class="p-mb-1">
                                        <img src="{{categoryMenu.categoryImage}}" [alt]="categoryMenu.name"
                                            class="product-image" />
                                    </div>
                                    <div>
                                        <h4 class="p-mb-1">{{categoryMenu.name}}</h4>
                                    </div>
                                </div>
                            </div> -->
                                <div class="product-item">
                                    <div (click)="onClickCategory(categoryMenu)"
                                        class="product-item {{categoryMenu.show}}">
                                        <div class="product-item-content">
                                            <div class="p-mb-1">
                                                <img src="assets/images/category-icons/{{categoryMenu.slug}}.svg"
                                                    class="product-image" />
                                            </div>
                                        </div>
                                        <div class="occasion-name">
                                            <h4 class="p-mb-1">{{categoryMenu.name}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center search-bar search_bar_listing_page">
    <div class="vendor-text w-100 text-primary h-50 v-center padding-h-10 h6 bg-white text-bold f-space-between"
        id="Find-Venue" (click)="showHomeSearch()">
        <i class="find-venue-search-icon pi pi-search"></i><span class="venue-search">Search For</span>
        <span class="find-venue-icon">
            <i class="pi pi-angle-right"></i>
        </span>
    </div>
    <div class="search-bar">
        <div class="city-field col-md-2 p-p-0">
            <label for="" class="icons-image"> <img src="assets/images/category-icons/celebration.svg"> </label>
            <span class="p-fluid">

                <!-- <p-dropdown appendTo="body" [options]="categoryMenuList" [(ngModel)]="occasion" optionLabel="name"
                [showClear]="true" (onChange)="onClickCategory($event.value)" placeholder="Occasion"
                class="occasion-dropdown">
            </p-dropdown> -->
                <!-- <p-autoComplete [(ngModel)]="occasion" [showEmptyMessage]="true" (onSelect)="onClickCategory($event)"
                    appendTo="body" (onClear)="onClickCategory($event)" placeholder="Search For" class="occasion-list"
                    [dropdown]="true" [suggestions]="filterOccasion" (completeMethod)="filterCategory($event)"
                    field="name" style="position: relative;height: 25px;" #occasionAutoComplete
                    (onFocus)="occasionAutoComplete.handleDropdownClick()">
                </p-autoComplete> -->
                <p-autoComplete [(ngModel)]="searchItem" [group]="true" [suggestions]="filteredGroups" field="name"
                    (onSelect)="onClickGroupedSearch($event)" (onClear)="onClickGroupedSearch($event)"
                    class="occasion-list" (completeMethod)="filterGroupedSearch($event)" [dropdown]="true"
                    placeholder="Search for*" #searechAutoComplete (onFocus)="searechAutoComplete.handleDropdownClick()"
                    style="position: relative;height: 25px;">
                    <!-- <ng-template let-group pTemplate="group">
                        <div class="flex align-items-center">

                            <span>{{ group.name }}</span>
                        </div>
                    </ng-template> -->
                </p-autoComplete>
                <!-- <div class="row">
                <div class="col-6">
                    <label for="" class="icons-image"> <img src="assets/images/category-icons/celebration.svg"> </label>
                    <p-autoComplete [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)"></p-autoComplete>
                </div>

                <div class="col-6">
                    <p-dropdown appendTo="body" [options]="categoryMenuList" [(ngModel)]="occasion"
                     optionLabel="name" [showClear]="true" (onChange)="onClickCategory($event.value)"
                    class="occasion-dropdown">
                </p-dropdown>
                </div>
            </div> -->
            </span>
        </div>

        <div class="serch-bar-field col-md-3 p-p-0">
            <span class="p-fluid">
                <label for="" class="icons-image search-icon"> <img src="assets/images/category-icons/search.png"
                        class="search-icon"> </label>
                <p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filtration"
                    (completeMethod)="search($event)" (onSelect)="onSelectSearch($event)"
                    (onUnselect)="onClearResetAllData($event)" field="name"
                    placeholder="easisVenue/Restaurant/Banquet*" [multiple]="true"
                    class="mostly-customized-scrollbar">
                    <ng-template let-item pTemplate="item">
                        <div class="flex align-items-center">
                            {{ item.name }}
                            <span *ngIf="item.mode=='subarea'">
                                <span *ngIf="item.cityname">, {{item.cityname}}</span>
                                <span *ngIf="item.statename">, {{item.statename}}</span>
                            </span>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </span>
        </div>
        <div class="col-md-auto p-p-0 guest_field_list">
            <div class="Guest-field">
                <label for="" class="icons-image"> <img src="assets/images/svg-icons/guest-icon.svg"> </label>
                <p-dropdown [editable]="true" class="guest-count" [options]="filterCapacityArray"
                    placeholder="Guest Count*" optionLabel="label" [(ngModel)]="venuecapacity" appendTo="body"
                    (onChange)="onClickGuestCount($event.value, $event)"></p-dropdown>
                <!-- <p-button [label]="selectedProduct ? selectedProduct.name : 'Guest Count'"
(click)="op.toggle($event)"></p-button> -->
            </div>
            <p-overlayPanel #op [showCloseIcon]="false">
                <ng-template pTemplate>
                    <div class="p-field p-col-12 p-md-12 gest-count-module">
                        <div class="gets-count-list">
                            <label for="horizontal">Adults</label>
                            <p-inputNumber [(ngModel)]="value18" [showButtons]="true" buttonLayout="horizontal"
                                inputId="horizontal" spinnerMode="horizontal" [step]="10"
                                decrementButtonClass="left-button" incrementButtonClass="right-button"
                                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                            </p-inputNumber>
                        </div>
                        <div class="gets-count-list">
                            <label for="horizontal">Children</label>
                            <p-inputNumber [(ngModel)]="value19" [showButtons]="true" buttonLayout="horizontal"
                                inputId="horizontal" spinnerMode="horizontal" [step]="10"
                                decrementButtonClass="left-button" incrementButtonClass="right-button"
                                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                            </p-inputNumber>
                        </div>
                        <div class="gets-count-list">
                            <label for="horizontal">Infants</label>
                            <p-inputNumber [(ngModel)]="value20" [showButtons]="true" buttonLayout="horizontal"
                                inputId="horizontal" spinnerMode="horizontal" [step]="10"
                                decrementButtonClass="left-button" incrementButtonClass="right-button"
                                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                            </p-inputNumber>
                        </div>
                        <div class="gets-count-list">
                            <label for="horizontal">Pets</label>
                            <p-inputNumber [(ngModel)]="value21" [showButtons]="true" buttonLayout="horizontal"
                                inputId="horizontal" spinnerMode="horizontal" [step]="10"
                                decrementButtonClass="left-button" incrementButtonClass="right-button"
                                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                            </p-inputNumber>
                        </div>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </div>
        <div class="col-md-auto p-p-0 calendar-div">
            <label for="" class="icons-image"><img src="assets/images/svg-icons/calender-icon.svg"></label>
            <!-- <p-calendar [(ngModel)]="rangeDates" [showButtonBar]="true" selectionMode="range" (click)="onClickClear()"></p-calendar> -->
            <p-calendar #searchCalendar dateFormat="dd/mm/yy" [minDate]="minDateValue" [(ngModel)]="rangeDates"
                appendTo="body" placeholder="Date" selectionMode="range" [readonlyInput]="true" inputId="range"
                [numberOfMonths]="1" (onSelect)="onSelectDate($event)">
                <ng-template pTemplate="header">
                    <div class="ui-g">
                      <div class="ui-g-10">
                        <ng-content></ng-content>
                      </div>
                      <div class="ui-g-2 ui-text-right" style="float: right; padding:10px; border-bottom: 1px solid #D4D6D9">
                        <span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                          (click)="clearDatesAndClose()" style="cursor: pointer;" pRipple>
                          <i class="pi pi-times-circle"></i>
                        </span>
                      </div>
                    </div>
                  </ng-template>
                <!-- <ng-template pTemplate="footer">
                <p-button label="Clear" icon="pi pi-filter-slash"
                    styleClass="p-button-raised p-button-text p-button-danger p-button-sm clear-btn-bottom"
                    (click)="onClickClear()"></p-button>
                <p-button label="Close" icon="pi pi-times" (click)="onClickCalendarClose()"
                    styleClass="p-button-sm p-button-raised p-button-text p-button-danger close-btn-bottom"></p-button>
            </ng-template> -->
                <!-- <p-button icon="pi pi-filter-slash" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised clear-btn-bottom" (click)="onClickClear()"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised close-btn-bottom"></p-button> -->
                <!-- <button pButton class="p-button-rounded p-button-danger p-button-text p-button-raised" type="button" label="Close" [showButtonBar]="true"></button> -->
            </p-calendar>
            <button (click)="showOfferDialog()" pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-danger secondary btn-custom secondary"></button>
        </div>
    </div>
</div>

<!-- Listings Slider Start -->
<div class="section section-padding sigma_header listings" *ngIf="!vendorSelection">
    <div class="section-title-wrap section-header flex-header text-center" style="justify-content: center;">
        <div class="section-title-text text-center">
            <h2 class="title">Top Assured Venues Near You</h2>
        </div>
    </div>
    <div class="container-fluid">
        <!-- <button  type="button" icon="pi pi-external-link" label="Show" (click)="displayBasic = true"></button> -->
        <p-galleria [(value)]="venueImages" [(activeIndex)]="activeIndex" [(visible)]="displayBasic"
            [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '100%;' }" [numVisible]="7"
            [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="true">
            <ng-template pTemplate="item" let-img class="video-front">
                <img *ngIf="!img.video" [src]="img.venue_image_src" class="assured-img"
                    style="width: 900px;height: 500px;display: block;" />
                <video *ngIf="img.video" style="width: 100%; display: block;" muted controls
                    class="back_video_onclick_full">
                    <source src="{{img.video}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-img>
                <div class="grid grid-nogutter justify-content-center">
                    <img *ngIf="!img.video" [src]="img.venue_image_src"
                        style="height: 10vh;width: 100px;display: block; visibility:visible" />
                    <video *ngIf="img.video" muted style="width: 100%; display: block; visibility:visible"
                        class="back_video_onclick_thum">
                        <source src="{{img.video}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </ng-template>
        </p-galleria>
        <div class="row">
            <div class="col-md-12 venue_listing latestVenue_listing">
                <div *ngIf="finalVenueList.length>0" class="col-md-12">
                    <div class="row" infiniteScroll (scrolled)="onScrollDown()">
                        <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let item of finalVenueList">
                            <div class="listing">
                                <div class="listing-thumbnail">
                                    <div class="mobile-view-gallery">
                                        <p-galleria [(value)]="item.venueImage" [responsiveOptions]="responsiveOptions"
                                            [containerStyle]="{'max-width': '100%;'}" [numVisible]="1" [circular]="true"
                                            [showItemNavigators]="true" [showThumbnails]="true" [showIndicators]="false"
                                            [showItemNavigatorsOnHover]="true" [showIndicatorsOnItem]="true">
                                            <ng-template pTemplate="thumbnail" let-img>
                                                <img *ngIf="!img.video" [src]="img.venue_image_src"
                                                    (click)="getVenueDetails(item.metaUrl)"
                                                    style="width: 100%; display: block;" />
                                                <video *ngIf="img.video" muted controls loop>
                                                    <source src="{{img.video}}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </ng-template>

                                        </p-galleria>
                                    </div>
                                    <div class="desktop-view-gallery">
                                        <p-galleria [(value)]="item.venueImage" [responsiveOptions]="responsiveOptions"
                                            [containerStyle]="{'max-width': '100%;'}" [numVisible]="1" [circular]="true"
                                            [showItemNavigators]="true" [showThumbnails]="true" [showIndicators]="false"
                                            [showItemNavigatorsOnHover]="true" [showIndicatorsOnItem]="true">

                                            <ng-template pTemplate="item" let-iItem>
                                                <img *ngIf="!iItem.video" (click)="getVenueDetails(item.metaUrl)"
                                                    [src]="iItem.venue_image_src" style="width:100%; display: block;" />
                                                <video *ngIf="iItem.video" style="width: 100%; display: block;" muted
                                                    controls loop>
                                                    <source src="{{iItem.video}}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </ng-template>
                                        </p-galleria>
                                    </div>
                                    <!-- (click)="open(item.id)" -->
                                    <div class="listing-badges">
                                        <!-- <span class="listing-badge featured" *ngIf="item.star"> <i class="pi pi-star"></i>
                                        </span> -->
                                        <span class="listing-badge Assured" *ngIf="item.assured"> <i
                                                class="pi pi-check"></i> Assured</span>
                                        <!-- <span class="listing-badge sale" *ngIf="item.assured">Assured</span> -->
                                        <!-- <span class="listing-badge pending" *ngIf="item.pending">Pending</span>
                                        <span class="listing-badge rent" *ngIf="item.courtmarriage">Court Marriage</span> -->
                                    </div>
                                    <!-- <div class="listing-controls">
                                        <a [ngClass]="item.wishlist?'wishlist-fill':''" (click)=" onClickWishlist(item)"
                                            class="favorite"><i class="pi pi-heart"></i></a>
                                        <a href=" #" class="compare"><i class="fas fa-sync-alt"></i></a>
                                    </div> -->
                                </div>
                                <div class="listing-body">
                                    <h5 class="listing-title"> <a (click)="getVenueDetails(item.metaUrl)" [title]="item.name"
                                            class="mb-0">{{item.name}}</a> </h5>
                                    <div class="category-icon">
                                        <div class="location">
                                            <span class="icon">
                                                <img src="assets/img/svg/location-icon.svg">
                                            </span>
                                            <span class="city">{{item.subarea}}<span *ngIf="item.subarea">,</span>
                                                {{item.cityname}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="short-discription">
                                        <span class="read-more" (click)="getVenueDetails(item.metaUrl)">
                                            <p class="listing-text" [innerHTML]="item.shortdescription"> </p>
                                        </span>
                                    </div>
                                    <div class=" price-icons">
                                        <div class="price-div">
                                            <div class="acr-listing-icons pt-0">
                                                <!-- <div class="acr-listing-icon" placement="top" ngbTooltip="Price">
                                                    <i class="flaticon-price-tags"></i>
                                                    <span class="acr-listing-icon-value" tooltipPosition="top"
                                                        pTooltip="Price">₹{{item.venuePrice |
                                                        number:'1.2-2'}}</span>
                                                </div> -->
                                                <div class="acr-listing-icon">
                                                    <!-- tooltipPosition="top" pTooltip="Guests" -->
                                                    <i class="pi pi-users"></i> Per Person:
                                                    <span *ngIf="item.minPrice > 0" class="acr-listing-icon-value">
                                                        {{item.minPrice|currency:"INR"}}
                                                    </span>
                                                    <span *ngIf="item.minPrice == 0" class="acr-listing-icon-value">
                                                        N/A
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="category-icon">
                                            <!-- <div class="location">
                                                <span class="icon">
                                                    <img src="assets/img/svg/location-icon.svg">
                                                </span>
                                                <span class="city">{{item.cityname}}, {{item.subarea}}</span>
                                            </div> -->
                                            <!-- <p-avatarGroup label="P">
                                            <p-avatar image="assets/demo/images/venue/wedding.png" shape="circle"  tooltipPosition="top"  pTooltip="Wedding"></p-avatar>
                                            <p-avatar image="assets/demo/images/venue/eng.png" shape="circle" tooltipPosition="top"  pTooltip="Reception"></p-avatar>
                                            <p-avatar image="assets/demo/images/venue/reception.png" shape="circle"  tooltipPosition="top"  pTooltip="Engagement"></p-avatar>
                                            <p-avatar label="+2" shape="circle"></p-avatar>
                                        </p-avatarGroup> -->
                                        </div>
                                    </div>
                                    <div class="listing-gallery-wrapper">
                                        <a (click)="getVenueDetails(item.metaUrl)" class=" btn-custom btn-sm secondary">View
                                            Details</a>
                                        <!-- <a  [routerLink]="['/venue', item.id]" class=" btn-custom btn-sm secondary">View
                                                Details</a> -->
                                        <div class="review-list">
                                            <div class="icon-review google-ratings"> <img
                                                    src="assets/img/svg/google.png" alt="">
                                                <i class="pi pi-star-fill" style="font-size: 12px;"><span
                                                        class="rating-style"> <b> {{item.googleRating}}</b>/5</span></i>
                                                <!-- <p-rating [(ngModel)]="val4" readonly="true" [cancel]="false"></p-rating> -->
                                            </div>
                                            <div class="vl"></div>
                                            <div class="icon-review eazy-venue-ratings"> <img
                                                    src="assets/images/logo.png" alt="">
                                                <i class="pi pi-star-fill" style="font-size: 12px;"><span
                                                        class="rating-style"> <b>
                                                            {{item.eazyVenueRating}}</b>/5</span></i>
                                                <!-- <p-rating [(ngModel)]="val4" readonly="true" [cancel]="false"></p-rating> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="noVenueFlag">
                    <h3 class="text-center">No venues matching your query found.</h3>
                </div>
            </div>
            <!-- <div class="col-md-12 text-center">
                <button class="load-mo-btn btn-custom btn-sm secondary">Load More</button>
            </div> -->
            <!-- <div class="col-md-12 text-center mb-5">
                <p-paginator [rows]="8" #paginator [totalRecords]="totalRecords" (onPageChange)="getVenueList($event)"
                    [rowsPerPageOptions]=" pagination"></p-paginator>
            </div> -->
        </div>
    </div>
</div>

<!-- photography search list start -->
<!-- <app-vendor-filter-list *ngIf="vendorSelection" [selectedVendor]="occasion"></app-vendor-filter-list> -->
<!-- photography search list start -->


<p-dialog header="" [(visible)]="numberPopup" [modal]="true" class="offer-popup-login" [modal]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="login-popup">
        <h3 class="offer-popup-heading mb-0">Receive<span class="offer-text"> 20%</span> off on our Photography
            now!
        </h3>
        <p class="mobile-num-design">Please provide your contact number to receive the coupon code.</p>
        <form [formGroup]="mobileForm" (ngSubmit)="onSubmitNumber('numberSubmit')">
            <div class="row justify-content-around">
                <div class="col-5 text-right">
                    <label class="mobile-number-text" for="inputPassword">Mobile Number <span
                            class="mandatory-fields">*</span></label>
                </div>
                <div class="col-7 text-left">
                    <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" [maxlength]="10"
                        formControlName="mobileNumber" placeholder="Enter Mobile Number" class="mobile-input"
                        [ngClass]="{ 'is-invalid': submitted && h.mobileNumber.errors }">
                    </p-inputNumber>
                    <div *ngIf="submitted && h.mobileNumber.errors" class="invalid-feedback">
                        <div *ngIf="h.mobileNumber.errors.required">Mobile number is required
                        </div>
                        <div *ngIf="!h.mobileNumber.errors.required">Invalid mobile number
                        </div>
                    </div>
                </div>
            </div>

            <div class="popup-button mt-2">
                <p-button type="submit" label="Get it Now!" class="p-button-text  secondary"></p-button>
            </div>
        </form>
    </div>
</p-dialog>
<p-dialog [(visible)]="otpPopup" [modal]="true" class="otp-popup-login">
    <div class="login-popup">
        <!-- <h2 class="offer-popup-heading">Receive<span class="offer-popup-heading1"> 20%</span> off on our Photography now!</h2> -->
        <form (ngSubmit)="otpSubmit()">

            <div class="form-group mb-3 p-2">
                <div *ngIf="oldUser.userType == 'old'"  class="old-user" style="margin-top: -20px; ">
                    <h3 style="color: #EC3539; font-size: 1rem; text-align: center; margin-top: -20px; margin-bottom: 0px;">Welcome, {{oldUser.firstName}}&nbsp;{{oldUser.lastName}}</h3>
                    <h5 class="otp-head" style="color:#9e9b9b;font-size: 14px !important;">Please insert OTP sent to your mobile number</h5>
                </div>
                <div  *ngIf="oldUser.userType == 'new'" class="new-user" style="margin-top: -20px; ">
                <!-- <div  class="new-user" style="margin-top: -20px; "> -->
                    <h3 style="color: #EC3539; font-size: 1rem; text-align: center; margin-top: -20px; margin-bottom: 0px;">Hi there, Enter following details</h3>
                    <div class="custom-input-box">
                        <p>First Name: </p>
                        <div class="">
                            <input type="text" pInputText [(ngModel)]="userFirstName" class="custom-input" name="userFirstName" (input)="validateFirstName()" #userFirstNameInput="ngModel" placeholder="First name" required minlength="3">
                            <div *ngIf="firstNameError" style="font-size: 8px; color: red;margin: 0; padding: 0;">First Name is required.</div>
                        </div>

                    </div>
                    <div class="custom-input-box">
                        <p>Last Name: </p>
                        <div class="">
                        <input type="text" pInputText [(ngModel)]="userLastName" name="userLastName" class="custom-input"  (input)="validateLastName()"  #userLastNameInput="ngModel" placeholder="Last name" required minlength="3">
                        <div *ngIf="lastNameError" style="font-size: 8px; color: red;margin: 0; padding: 0;">Last Name is required.</div>
                        <!-- <div *ngIf="userLastNameInput.invalid && (userLastNameInput.dirty || userLastNameInput.touched)">
                            <div *ngIf="userLastNameInput.errors.required" style="font-size: 8px; color: red;">Last Name is required.</div>
                            <div *ngIf="userLastNameInput.errors.minlength" style="font-size: 8px; color: red;">Last Name must be at least 3 characters long.</div>
                          </div> -->
                        </div>
                    </div>
                    <h5 class="otp-head" style="color:#9e9b9b;font-size: 12px !important; max-width: 550px; line-height: 1.2rem; text-align: center; font-weight: 500; margin-top: 8px !important;">Please insert OTP sent to your mobile number</h5>
                </div>
                <div class="row align-items-center">
                    <!-- <div class="col-1"></div> -->
                    <div class="col-2 text-center">
                        <h4 class="otp-head1">OTP</h4>
                    </div>
                    <div class="col-8">
                        <div id="otp" class="inputs d-flex flex-row justify-content-center">
                            <!-- <ng-otp-input #ngxotp [config]="config" (onInputChange)="onOtpChange($event)">
                    </ng-otp-input> -->
                            <!-- <ngx-otp-input #ngxotp [config]="config" (otpChange)="onOtpChange($event)">
                            </ngx-otp-input>                             -->
                            <div class="otp-container">
                                <div class="otp-box">
                                    <input type="text" #txt1 id="txt1" (input)="pastedEvent($event)" (keyup)="move($event, '', txt1, txt2, 0)">
                                </div>
                                <div class="otp-box">
                                    <input type="text" #txt2 id="txt2" (keyup)="move($event, txt1, txt2, txt3, 1)">
                                </div>
                                <div class="otp-box">
                                    <input type="text" #txt3 id="txt3" (keyup)="move($event, txt2, txt3, txt4, 2)">
                                </div>
                                <div class="otp-box">
                                    <input type="text" #txt4 id="txt4" (keyup)="move($event, txt3, txt4, '', 3)">
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showOtpErrors">
                            <span style="color: red;">Please check OTP.</span>
                        </div>
                    </div>
                    <div class="col-2 otp-timer text-center">
                        <span *ngIf="!showResendButton">{{transform(counter)}}</span>
                        <span *ngIf="showResendButton">
                            <a (click)="resendOtp()" style="margin-left: -40px; margin-right: 50px; color:#9e9b9b;">Resend
                                OTP</a>
                        </span>
                    </div>
                    <!-- <div class="col-1"></div> -->
                </div>
                <!-- <div *ngIf="otpError !='undefined'" class="otp_error_msg">
                    <span class="otoErrormsg"> {{otpError}} </span>
                </div> -->
                <!-- <input type="number" autocomplete="on" formControlName="phone"
            placeholder="Enter otp" class="form-control">-->
                <!-- <div class="invalid-feedback">
            <div>Your new OTP has been send to your mobile number
            </div>
        </div> -->
            </div>
            <div class="popup-button">
                <p-button type="submit" label="Submit" class="p-button-text secondary"></p-button>
            </div>
            <h5 class="resend-head" style="cursor: pointer; font-size: 12px !important;" (click)="changeMobileNumber()"> Change mobile number
            </h5>
        </form>
    </div>
</p-dialog>





<p-dialog [(visible)]="otpthankyouPopup" class="thankyoupopup" [modal]="true" [modal]="true" [style]="{width: '32vw'}"
    [breakpoints]="{'960px': '60vw', '640px': '100vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="login-popup">
        <!-- <h2 class="offer-popup-heading">Receive<span class="offer-popup-heading1"> 20%</span> off on our Photography now!</h2> -->
        <h4 class="thankyou-popup" style="font-family: 'Kaushan Script';">Thank you so much!</h4>
        <h5 class="mobile-num-design">We have shared the
            coupon code on your registered mobile number.
        </h5>
        <div class="popup-button">
            <p-button type="submit" label="Check Now" routerLink="/venue"
                class="p-button-text  secondary"></p-button>
        </div>
    </div>
</p-dialog>

<!-- dialog filter for responsive/mobile search -->
<!-- <p-dialog header="Search Venue" [(visible)]="homeSearch" [modal]="true" -->
<p-dialog header="Search Category" [(visible)]="homeSearch" [modal]="true"
    [style]="{ width: '90%' , height: '345px', 'overflow':'visible' }" [responsive]="true" class="home_search_popup">
    <!-- <h3 class="home-search-popup-heading">Search Venue</h3> -->
    <div class="home-search-fields">
        <div class="row justify-content-center search-bar search_bar_listing_page search-bar-popup">
            <div class="city-field col-md-12 p-p-0">
                <label for="" class="icons-image"> <img src="assets/images/category-icons/celebration.svg"> </label>
                <span class="p-fluid">
                    <!-- removed -->
                    <!-- <p-dropdown [options]="categoryMenuList" [(ngModel)]="occasion" optionLabel="name"
                        (onChange)="onClickCategory($event.value)" placeholder="Occasion"
                        class="occasion-list home-search-popup">
                    </p-dropdown> -->

                    <!-- added -->
                    <!-- <p-autoComplete [(ngModel)]="searchItem" [group]="true" [suggestions]="filteredGroups" field="name"
                        (onSelect)="onClickGroupedSearch($event)" (onClear)="onClickGroupedSearch($event)"
                        class="occasion-list" (completeMethod)="filterGroupedSearch($event)" [dropdown]="true"
                        placeholder="Search for" #mobileSearechAutoComplete
                        (onFocus)="mobileSearechAutoComplete.handleDropdownClick()"
                        style="position: relative;height: 25px;">
                    </p-autoComplete> -->
                    <p-dropdown [options]="groupedMenuList" [(ngModel)]="searchItem" optionLabel="name"
                        (onChange)="onClickGroupedSearch($event.value)" placeholder="Search for"
                        [group]="true"
                        [showClear]="true" [filter]="true" [style]="{'width':'100%'}">
                    </p-dropdown>

                    <!-- <p-autoComplete [(ngModel)]="occasion" (onSelect)="onClickCategory($event)"
                        (onClear)="onClickCategory($event)" placeholder="Occasion"
                        class="occasion-list home-search-popup" [dropdown]="true" [suggestions]="filterOccasion"
                        (completeMethod)="filterCategory($event)" field="name">
                    </p-autoComplete> -->
                    <!-- <div class="row">
                        <div class="col-6">
                            <label for="" class="icons-image"> <img src="assets/images/category-icons/celebration.svg"> </label>
                            <p-autoComplete [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)"></p-autoComplete>
                        </div>

                        <div class="col-6">
                            <p-dropdown appendTo="body" [options]="categoryMenuList" [(ngModel)]="occasion"
                             optionLabel="name" [showClear]="true" (onChange)="onClickCategory($event.value)"
                            class="occasion-dropdown">
                        </p-dropdown>
                        </div>
                    </div> -->
                </span>
            </div>

            <div class="serch-bar-field col-md-12 p-p-0">
                <span class="p-fluid">
                    <label for="" class="icons-image search-icon"> <img src="assets/images/category-icons/search.png"
                            class="search-icon"> </label>
                    <p-autoComplete [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCountries"
                        [suggestions]="filtration" (completeMethod)="search($event)" (onSelect)="onSelectSearch($event)"
                        (onUnselect)="onClearResetAllData($event)" field="name"
                        placeholder="City/Area/Venue/Restaurant/Banquet" [multiple]="true">
                        <ng-template let-item pTemplate="item">
                            <div class="flex align-items-center">
                                {{ item.name }}
                                <span *ngIf="item.mode=='subarea'">
                                    <span *ngIf="item.cityname">, {{item.cityname}}</span>
                                    <span *ngIf="item.statename">, {{item.statename}}</span>
                                </span>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </span>
            </div>

            <div class="col-md-12 p-p-0 guest_field_list">
                <div class="Guest-field">
                    <label for="" class="icons-image"> <img src="assets/images/svg-icons/guest-icon.svg"> </label>
                    <p-dropdown [editable]="true" class="guest-count" [options]="filterCapacityArray"
                        placeholder="Guest Count" optionLabel="label" [(ngModel)]="venuecapacity"
                        (onChange)="onClickGuestCount($event.value, $event)"></p-dropdown>
                    <!-- <p-button [label]="selectedProduct ? selectedProduct.name : 'Guest Count'"
        (click)="op.toggle($event)"></p-button> -->
                </div>
                <!-- <p-overlayPanel #op [showCloseIcon]="false">
                    <ng-template pTemplate>
                        <div class="p-field p-col-12 p-md-12 gest-count-module">
                            <div class="gets-count-list">
                                <label for="horizontal">Adults</label>
                                <p-inputNumber [(ngModel)]="value18" [showButtons]="true" buttonLayout="horizontal"
                                    inputId="horizontal" spinnerMode="horizontal" [step]="10" decrementButtonClass="left-button"
                                    incrementButtonClass="right-button" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>
                            </div>
                            <div class="gets-count-list">
                                <label for="horizontal">Children</label>
                                <p-inputNumber [(ngModel)]="value19" [showButtons]="true" buttonLayout="horizontal"
                                    inputId="horizontal" spinnerMode="horizontal" [step]="10" decrementButtonClass="left-button"
                                    incrementButtonClass="right-button" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>
                            </div>
                            <div class="gets-count-list">
                                <label for="horizontal">Infants</label>
                                <p-inputNumber [(ngModel)]="value20" [showButtons]="true" buttonLayout="horizontal"
                                    inputId="horizontal" spinnerMode="horizontal" [step]="10" decrementButtonClass="left-button"
                                    incrementButtonClass="right-button" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>
                            </div>
                            <div class="gets-count-list">
                                <label for="horizontal">Pets</label>
                                <p-inputNumber [(ngModel)]="value21" [showButtons]="true" buttonLayout="horizontal"
                                    inputId="horizontal" spinnerMode="horizontal" [step]="10" decrementButtonClass="left-button"
                                    incrementButtonClass="right-button" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus">
                                </p-inputNumber>
                            </div>
                        </div>
                    </ng-template>
                </p-overlayPanel> -->
            </div>
            <div class="col-md-12 p-p-0 calendar-div">
                <label for="" class="icons-image"><img src="assets/images/svg-icons/calender-icon.svg"></label>
                <!-- <p-calendar [(ngModel)]="rangeDates" [showButtonBar]="true" selectionMode="range" (click)="onClickClear()"></p-calendar> -->
                <p-calendar #searchCalendarMobileView dateFormat="dd/mm/yy" [minDate]="minDateValue" [(ngModel)]="rangeDates"
                appendTo="body" placeholder="Date" selectionMode="range" [readonlyInput]="true" inputId="range"
                [numberOfMonths]="1" (onSelect)="onSelectDate($event)">
                <ng-template pTemplate="header">
                    <div class="ui-g">
                      <div class="ui-g-10">
                        <ng-content></ng-content>
                      </div>
                      <div class="ui-g-2 ui-text-right" style="float: right; padding:10px; border-bottom: 1px solid #D4D6D9">
                        <span class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"
                          (click)="closeDatesMobileView()" style="cursor: pointer;" pRipple>
                          <i class="pi pi-times"></i>
                        </span>
                      </div>
                    </div>
                  </ng-template>
                <!-- <ng-template pTemplate="footer">
                <p-button label="Clear" icon="pi pi-filter-slash"
                    styleClass="p-button-raised p-button-text p-button-danger p-button-sm clear-btn-bottom"
                    (click)="onClickClear()"></p-button>
                <p-button label="Close" icon="pi pi-times" (click)="onClickCalendarClose()"
                    styleClass="p-button-sm p-button-raised p-button-text p-button-danger close-btn-bottom"></p-button>
            </ng-template> -->
                <!-- <p-button icon="pi pi-filter-slash" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised clear-btn-bottom" (click)="onClickClear()"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text p-button-raised close-btn-bottom"></p-button> -->
                <!-- <button pButton class="p-button-rounded p-button-danger p-button-text p-button-raised" type="button" label="Close" [showButtonBar]="true"></button> -->
            </p-calendar>

            </div>
            <div class="col-md-12 p-p-0 calendar-div">
                <button (click)="showOfferDialog()" pButton pRipple type="button" (click)="homeSearch = false"
                    class="p-button-rounded p-button-danger secondary btn-custom secondary search-popup-mobile">Search</button>
            </div>
        </div>
    </div>
</p-dialog>
<!-- Listings Slider End -->
