<div class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-lg-30 acr-dots-wrapper acr-single-img-wrapper"><img alt="img"
                    src="assets/img/listings-list/3.jpg">
                <div class="acr-dots"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-title-wrap mr-lg-30">
                    <h5 class="custom-primary">About Us</h5>
                    <h2 class="title">We provide smooth flow of your all function in wedding.</h2>
                    <p class="subtitle"> Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <p class="subtitle"> Lorem Ipsum has been the industry's standard dummy text
                        ever since the 1500s </p><a class="btn-custom" routerlink="/listing-grid"
                        href="/themes/templatemoster/angular/whyknot/listing-grid">Browse Weddings</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-padding bg-cover bg-center bg-parallax dark-overlay dark-overlay-2"
    style="background-image: url(&quot;assets/img/banner/3.jpg&quot;);">
    <div class="container">
        <div class="row"><!---->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="acr-infographic-item"><i class="flaticon-bride"></i>
                    <h4>24,934</h4>
                    <p>Weddings</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="acr-infographic-item"><i class="flaticon-sales-agent"></i>
                    <h4>65,317</h4>
                    <p>Vendors</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="acr-infographic-item"><i class="flaticon-group"></i>
                    <h4>4,658</h4>
                    <p>Agencies</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="acr-infographic-item"><i class="flaticon-seller"></i>
                    <h4>67,335</h4>
                    <p>Weddings Sold</p>
                </div>
            </div>
        </div>
    </div>
</div>