<!-- Video Start -->
<div class="section light-bg section-img-wrapper">
    <div class="section-imgs">
        <img src="assets/img/megamenu.png" alt="img">
        <img src="assets/img/megamenu2.png" alt="img">
    </div>
    <div class="container">
        <div class="section-title-wrap text-center">
            <h5 class="custom-primary">Our Ways</h5>
            <h2 class="title">Watch Our Vendors Do Their Jobs</h2>
            <p class="subtitle">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <a href="https://www.youtube.com/watch?v=KH1pcNUTa6U" class="btn-custom popup-youtube"> <i class="m-0 fas fa-play"></i> </a>
        </div>
    </div>
</div>
<!-- Video End -->