<section class="section">
  <div class="container">
    <p-toast key="toastMsg"></p-toast>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <p class="py-2"></p>
        <div class="row main-row tab-content" id="pills-tabContent">
          <div class="col-6 my-account-div tab-pane fade show active" id="pills-sign-in" role="tabpanel"
            aria-labelledby="pills-sign-in-tab" tabindex="0">
            <div class="top-header-heading">
              <h4 class="accounts-headings"> <span><img src="/../assets/img/heading-1.png" alt=""></span>
                <span> Reset Password</span>
              </h4>
            </div>
          </div>
          <p class="py-2"></p>
          <form [formGroup]="resetPassForm">
            <div class="row" *ngIf="showsignupMsg">
              <div class="col-xs-12">
                <p class="alert alert-success">
                  <strong> Your password has been reset successfully</strong>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="style-form-group">
                  <input type="password" formControlName="password" class="form-control form-input"
                    placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors">Password should contains at least 1 digit, 1
                      lowercase, 1 uppercase, 1 symbol.
                      Length between 6 to 20.</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="style-form-group">
                  <input type="password" formControlName="confirmPassword" class="form-control form-input"
                    placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Password and Confirm Password must be match.</div>
                  </div>
                </div>
              </div>
              <div *ngIf="showError">
                <span class="mandatory-feilds">{{errorMessage}}</span>
              </div>
              <div class=" col-lg-12">
                <div class="shad-form pt-2 pt-lg-3"><img src="../assets/images/shad-01.png" class="img-fluid"></div>
              </div>
            </div>
            <div class="button pt-2 pt-lg-3">
              <a pButton class="text-uppercase min-1" (click)="submit()">Submit</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <p class="py-2"></p>
  </div>
</section>