<div class="p-grid">
    <div class="p-col-12">
        <div class="title-area">
            <h5 class="admin-heading">
                View Role
            </h5>
            <!-- <button pButton pRipple label="Back" icon="pi pi-arrow-left" class="p-button-primary" 
                (click)="backLink()"></button> -->
        </div>
        <div class="card">
            <form [formGroup]="roleForm" *ngIf="this.roleForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col-4">
                        <label for="rolename">Name</label>
                        <input formControlName="rolename" type="text" pInputText class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.rolename.errors }">
                        <div *ngIf="submitted && f.rolename.errors" class="invalid-feedback">
                            <div *ngIf="f.rolename.errors.required">Role Name is required</div>
                            <div *ngIf="f.rolename.errors">Only Alphabets allowed</div>
                        </div>
                    </div>
                    <div class="p-field p-col-4">
                        <label for="description">Description</label>
                        <textarea inputId="textarea" class="form-control" formControlName="description" class="form-control"
                            pInputTextarea></textarea>
                    </div>
                    <div class="p-field p-col-4">
                        <label for="status">Status</label>
                        <p-inputSwitch formControlName="status" (ngModelChange)="onStatusSelect($event)" style="display: block;"></p-inputSwitch>
                        <!-- <p-dropdown inputId="status" [options]="statuses"  formControlName="status" placeholder="Select" optionLabel="label" (ngModelChange)="onStatusSelect($event)"></p-dropdown> -->
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Please select status</div>
                        </div>
                    </div>   
                    <div class="p-field p-col-12 d-flex">
                        <p-checkbox binary="true" (onChange)="selectAll($event);" formControlName="selectAll" value="selectAll" ></p-checkbox>                            
                        <span class="modulename">Module List</span>
                        <div *ngIf="permissionerrors" style="color:red;">
                            <div>Please, Select Atleast 1 module</div>
                        </div>
                    </div>  
                <div class="p-col-12 row">
                    <p-panel *ngFor="let module of  moduleList ;let i = index;" class="col-6 main-card" [toggleable]="true" [collapsed]="false" toggler="header" header="{{module.module | titlecase }}">
                                <p-content>
                                    <div class="row">
                                        <div class="col-12 d-flex">
                                            <p-checkbox ng-disabled binary="true" (onChange)="setModuleCheckbox($event, module.module, module);" formControlName="{{module.module}}" value="{{module.module}}"></p-checkbox>     
                                            <span class="modulename">{{module.module | titlecase }}</span>
                                            <span class="right">
                                                <p-radioButton value="edit" (onClick)="setModuleRadiobutton($event, module.module, 'edit');" label="Edit" formControlName="{{module.module}}_radio"></p-radioButton>
                                                <p-radioButton value="view"
                                                (onClick)="setModuleRadiobutton($event, module.module, 'view');" label="View" formControlName="{{module.module}}_radio"></p-radioButton>
                                            </span>
                                        </div>
                                    </div>
                                </p-content>
                                <div class="sub-category1">
                                    <p-content *ngFor="let submodule of module.submodule; let sub = index">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <p-checkbox binary="true"
                                                (onChange)="setSubModuleCheckbox($event, submodule, module.module);" formControlName="{{submodule.module}}" value="{{submodule.module}}"></p-checkbox> 
                                                <span class="modulename">{{submodule.module | titlecase }}</span>
                                                <span class="right">
                                                    <p-radioButton value="edit" (onClick)="setSubModuleRadiobutton($event, submodule.module, module.module, 'edit');" label="Edit" id="edit" formControlName="{{submodule.module}}_radio"></p-radioButton>
                                                    <p-radioButton value="view" (onClick)="setSubModuleRadiobutton($event, submodule.module, module.module, 'view');" label="View" id="view" formControlName="{{submodule.module}}_radio"></p-radioButton>
                                                </span>
                                            </div>
                                        </div>
                                    </p-content>
                                    </div>
                    </p-panel>
                </div>      
                </div>
                <div class="text-right">
                    <span *ngIf="!defaultData">
                        <button pButton pRipple label="edit"  icon="pi pi-pencil" (click)="editRole(userId)"></button>
                    </span>
                    <button pButton pRipple type="button" label="Back" class="p-button-info"
                        (click)="backLink()"></button>
                </div>
            </form>
        </div>
        <div class="button-set back">
            <div class="p-fluid p-formgrid">
            </div>
        </div>
    </div>
</div>