<div class="container about-fasinating-diamond-main-section">
    <div class="row">
        <div class="common_container">
            <div class="col-md-12 secure-shopping about-fasinating-diamond">
                <div class="d-flex align-items-start secure-shopping-section-body">
                    <div class="col-4 section-left-side">
                        <!-- <app-footer-menu-sidebar></app-footer-menu-sidebar> -->
                    </div>
                    <div [innerHTML]="cmsContentData" class="col-8 section-contain"></div>
                    <!-- <div class="col-8 section-contain">
                        <div class="tab-common-div">
                            <section class="col-12 Customize_section_heading">
                                <div class="section_heading">
                                    <h4>What is Fascinating Diamonds®?</h4>
                                </div>
                                <div class="secure_content">
                                    <p>
                                        <span>
                                            We are a lifestyle brand with its roots in one key pillar, <a
                                                href="#">diamond jewelry.</a> Within this pillar, we curate and sell a
                                            tightly designed array of products that adhere to our brand values, and we
                                            also source our diamonds from all over the world. We have created a
                                            luxurious, high-performance jewelry line made with superior ingredients;
                                            different metals, interesting gemstones and spectacular settings of diamonds
                                            to choose from. We address the acute needs of modern women and men with a
                                            gorgeous line of elegant and sophisticated jewelry, crafted from entirely
                                            natural and powerful diamonds; and a limited-edition range of particular
                                            pieces handcrafted by our in house craftsman in New York.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            One can visit our <a href="#"> jewelry store in New York – Mid- Town
                                                Manhattan,</a> or online at www. fascinatingdiamonds.com
                                        </span>
                                    </p>
                                </div>
                                <hr>

                            </section>
                            <section class="col-12 Customize_section_heading">
                                <div class="section_heading">
                                    <h4>Modern Way of Creating your Own Jewelry Online.</h4>
                                </div>
                                <div class="secure_content">
                                    <p>
                                        <span>
                                            We at Fascinating Diamonds® have created a modern way to shop online because
                                            we disagree with the conventional mom & pop stores and with the generic old
                                            traditions of buying diamonds and <a href="#"> gemstone jewelry.</a> When it
                                            comes to buying jewelry people usually go through the recommendations from
                                            friends and family about jewelers or places to buy from.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            We believe that in the new age shopping online and reading through reviews,
                                            feedback and picking out what you like is the most time sufficient way to
                                            get things done. It saves you time and make your experience refreshing and
                                            recreational. So go ahead <a href="#"> Design your Own Jewelry </a> from the
                                            comfort of your home.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            Combining the ease of buying online and the experience of buying in a
                                            boutique Fascinating Diamonds® has it all for you.
                                        </span>
                                    </p>
                                </div>
                                <hr>
                            </section>
                            <section class="col-12 Customize_section_heading">
                                <video class="myvdos1" width="100%" controls="" loop="">
                                    <source type="video/mp4"
                                        src="https://e0bfa71df3c29b3bbaf0-fdeaae46689eef235384eb1f65689c93.ssl.cf2.rackcdn.com/How%20To%20Design%20Your%20Own%20Engagement%20Ring%20At%20Fascinating%20Diamonds.mp4">
                                    <source type="video/ogg"
                                        src="https://e0bfa71df3c29b3bbaf0-fdeaae46689eef235384eb1f65689c93.ssl.cf2.rackcdn.com/How%20To%20Design%20Your%20Own%20Engagement%20Ring%20At%20Fascinating%20Diamonds.mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </section>

                            <section class="col-12 Customize_section_heading">
                                <div class="section_heading">
                                    <h4>Fascinating Diamonds® History</h4>
                                </div>
                                <div class="secure_content">
                                    <p>
                                        <span>
                                            Launched in 2006 the two business partners, Mr. Raj Kumar and Mr. Salil Shah
                                            together founded Fascinating Diamonds®. It initially started from home in
                                            the living room. Due to Salil’s exquisite taste in purchasing diamonds, his
                                            friends and family trusted him and went to him for advice and
                                            recommendations. His good friend Raj had explicit production knowledge from
                                            his experience while working for a jewelry manufacturer. These two friends
                                            got together and set up the office in New York where they operate from with
                                            spectacular customer service in the hub of Midtown Manhattan.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            Fascinating Diamonds® are morally responsible and are an ethically cautious
                                            company. We ensure that all our loose diamonds are conflict-free and GIA
                                            certified.
                                        </span>
                                    </p>
                                </div>
                                <hr>
                            </section>
                            <section class="cutomized_section">
                                <div class="col-md-12 cutomized_section_page">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-2 secure_section_image">
                                                <h5 class="section_heading">
                                                    Mr RajKumar
                                                </h5>
                                                <img src="/../assets/img/about-fs1.jpg" alt="">
                                            </div>
                                            <div class="col-10 secure_content">
                                                <ul>
                                                    <li>Current president and co founder of Fascinating Diamonds®.</li>
                                                    <li>Knowledge and experience of over 15 years in the US, in the
                                                        field of jewelry.</li>
                                                    <li>He overlooks jewelry production, sales, quality check, customer
                                                        service and Logistics.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-2 secure_section_image">
                                                <h5 class="section_heading">
                                                    Mr Salil Shah
                                                </h5>
                                                <img src="/../assets/img/about-fs2.jpg" alt="">
                                            </div>
                                            <div class="col-10 secure_content">
                                                <ul>
                                                    <li>Co-founder of Fascinating Diamonds® and has been living in the
                                                        United States for 15 years now</li>
                                                    <li>Graduated from the Gemological Institute of America (GIA).</li>
                                                    <li>Expert in analysing the cut, colour and clarity of diamonds and
                                                        gemstones</li>
                                                    <li>17 years of solid experience in purchasing diamonds.</li>
                                                    <li>He purchases the entire stock of diamonds and gemstones, sources
                                                        them from around the world and gets the best pieces on table at
                                                        the best prices.</li>
                                                    <li>He overlooks the finance, accounts and guides the entire team of
                                                        assorters at the firm.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </section>
                            <section class="col-12 Customize_section_heading">
                                <div class="section_heading">
                                    <h4>Our values</h4>
                                </div>
                                <div class="secure_content">
                                    <p>
                                        <span>
                                            We believe that the little things count, that good jewelry is the foundation
                                            of love and wellness, that the mind and spirit are inextricably linked and
                                            we have more control over how we express ourselves with jewelry than we
                                            could even imagine, that it’s better to buy fewer things that are better. We
                                            believe in quality over quantity. We pride ourselves on our reasonable
                                            pricing range keeping in mind top quality diamonds are our priority.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            The concept of “Quality Diamonds at an Affordable Price” is possible because
                                            of our strong purchase team head Salil Shah and his ability to source the
                                            best diamonds from all over the world.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            With the progression of time, we have excelled rampantly in building a
                                            reputation as one of the leading online retailers; dealing in wholesale
                                            loose diamonds and also fine diamond jewelry specializing in both vintage
                                            and modern styles. In order to reach millions of customers, Fascinating
                                            Diamonds® has created a very customer friendly website that grants easy
                                            customization processes that display options in metals, gemstones, center
                                            diamond shapes, carat weights, etc.
                                        </span>
                                    </p>
                                    <p>
                                        <span>
                                            We know who we are; our words and actions are aligned; and we take a
                                            curious, unbiased, open-minded, and service-centric approach to the work
                                            that we do. We will never recommend something that we don’t love and think
                                            worthy of your time and your wallet. We value your trust above all things.
                                        </span>
                                    </p>
                                </div>
                                <hr>
                            </section>

                        </div>
                    </div> -->
                </div>
            </div>


            <!-- <div [innerHTML]="cmsBottomContentData" class="about_details-section"></div> -->
        </div>

    </div>
</div>
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="prof-img">
                    <img src="../assets/img/banner-blog.png">
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="banner-txt">
                    <h1><span>our</span> Blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit quis nostrud exercitation
                        amet, </p>
                    <a href="#" class="btn btn-details">Learn More</a>
                </div>
            </div>


        </div>
    </div>
</section>
<section class="featured-podcast">
    <div class="container">
        <ul class="nav nav-tabs article-tab" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#trending" role="tab" aria-controls="trending"
                    aria-selected="true">Trending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#motivational" role="tab" aria-controls="motivational"
                    aria-selected="false">Motivational & Inspirational</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#personal" role="tab" aria-controls="personal"
                    aria-selected="false">Personal Story</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#health" role="tab" aria-controls="settings"
                    aria-selected="false">Health & Fitness</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#entrepreneurship" role="tab"
                    aria-controls="entrepreneurship" aria-selected="false">Entrepreneurship</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="trending" role="tabpanel">
                <div class="text-center title brd">
                    <h2>Latest Articles</h2>
                </div>
                <div class="episode full">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="img">
                                <img src="../assets/img/articles1.jpg">
                            </div>
                            <div class="summary">
                                <h5 class="category">Personal Story</h5>
                                <h4>The stars of my recovery journey</h4>
                                <div class="post-credit"><strong>Posted On: 30th August, 2021 | Monday | Posted by:
                                        Admin</strong></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore etam dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate...</p>
                                <a href="#" class="btn btn-details">READ MORE</a>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="episode">
                                <div class="img">
                                    <img src="../assets/img/articles1.jpg">
                                </div>
                                <div class="summary">
                                    <h5 class="category">Motivational & Inspirational</h5>
                                    <h4>7 Reasons to go after that dream</h4>
                                    <a href="#" class="btn btn-details">READ MORE</a>
                                </div>
                            </div>
                            <div class="episode">
                                <div class="img">
                                    <img src="../assets/img/articles2.jpg">
                                </div>
                                <div class="summary">
                                    <h5 class="category">Motivational & Inspirational</h5>
                                    <h4>How to make the most of your day?</h4>
                                    <a href="#" class="btn btn-details">READ MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane" id="motivational" role="tabpanel">
                <div class="text-center title brd">
                    <h2>Motivational & Inspirational</h2>
                </div>
            </div>
            <div class="tab-pane" id="personal" role="tabpanel">
                <div class="text-center title brd">
                    <h2>Personal Story</h2>
                </div>
            </div>
            <div class="tab-pane" id="health" role="tabpanel">
                <div class="text-center title brd">
                    <h2>Health & Fitness</h2>
                </div>
            </div>
            <div class="tab-pane" id="entrepreneurship" role="tabpanel">
                <div class="text-center title brd">
                    <h2>Entrepreneurship</h2>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="discover-best">
    <div class="container">
        <div class="text-center title brd">
            <h2>Discover the best in...</h2>
        </div>
        <div class="sub-title">
            <h3>Personal Story</h3> <a href="#" class="link-view">View all articles</a>
        </div>
        <div class="row">
            <div class="col">
                <div class="slider blog-slide">
                    <div class="slide-cont">
                        <div class="story">
                            <div class="img"><img src="../assets/img/blog1.jpg"></div>
                            <div class="content-box">
                                <h5><a href="#">Positive Attitude: how I took it out of
                                        the books and put it to practice</a></h5>
                                <a href="#" class="btn btn-details">READ MORE</a>

                            </div>
                        </div>
                    </div>
                    <div class="slide-cont">
                        <div class="story">
                            <div class="img"><img src="../assets/img/blog2.jpg"></div>
                            <div class="content-box">
                                <h5><a href="#">Podcasts I am listening to / Series I am
                                        watching</a></h5>
                                <a href="#" class="btn btn-details">READ MORE</a>

                            </div>
                        </div>
                    </div>
                    <div class="slide-cont">
                        <div class="story">
                            <div class="img"><img src="../assets/img/blog3.jpg"></div>
                            <div class="content-box">
                                <h5><a href="#">My many business ventures and how I
                                        established myself in each field</a></h5>
                                <a href="#" class="btn btn-details">READ MORE</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub-title">
            <h3>Health & Fitness</h3> <a href="#" class="link-view">View all articles</a>
        </div>
        <div class="row">
            <div class="col">
                <div class="slider blog-slide">
                    <div class="slide-cont">
                        <div class="story">
                            <div class="img"><img src="../assets/img/blog4.jpg"></div>
                            <div class="content-box">
                                <h5><a href="#">The benefits of exercise for your
                                        physical and mental health</a></h5>
                                <a href="#" class="btn btn-details">READ MORE</a>

                            </div>
                        </div>
                    </div>
                    <div class="slide-cont">
                        <div class="story">
                            <div class="img"><img src="../assets/img/blog5.jpg"></div>
                            <div class="content-box">
                                <h5><a href="#">10 diet tips to follow for a healthy
                                        body and mind </a></h5>
                                <a href="#" class="btn btn-details">READ MORE</a>

                            </div>
                        </div>
                    </div>
                    <div class="slide-cont">
                        <div class="story">
                            <div class="img"><img src="../assets/img/blog6.jpg"></div>
                            <div class="content-box">
                                <h5><a href="#">Sustainable Fitness : What is it and
                                        how can you achieve it?</a></h5>
                                <a href="#" class="btn btn-details">READ MORE</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-in-touch">
    <div class="container">
        <div class="text-center title brd">
            <h2>get in Touch</h2>
        </div>
        <div class="get-touch-form">
            <form>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" placeholder="Your Mobile Number">
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" placeholder="Your Email Address">
                    </div>
                    <div class="col-12 col-md-3">
                        <input type="text" class="form-control" placeholder="Your City">
                    </div>
                    <div class="col-12 col-md-12 text-center">
                        <input type="submit" class="btn" value="Submit" data-toggle="modal" data-target="#contactModal">
                    </div>
                </div>

            </form>
        </div>
    </div>
</section>