<div class="container">
    <div class="cta cta-1">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h3>Need More Information On Wedding Tools?</h3>
            </div>
            <div class="offset-lg-1 col-lg-7">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.</p>
                <a routerLink="/contact" class="btn-custom-2 light">Find Out More</a>
            </div>
        </div>
    </div>
</div>