<!-- Weddings Start -->
<div class="section pt-0">
    <div class="container">
        <div class="row">
            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <div class="sidebar sidebar-left">
                    <div class="sidebar-widget">
                        <h5>Filter Weddings</h5>
                        <div class="acr-filter-form">
                            <form>
                                <div class="acr-custom-select form-group">
                                    <label>Location: </label>
                                    <ng-select2 [data]="select.locationlist" [options]="options">
                                    </ng-select2>
                                </div>
                                <div class="acr-custom-select form-group">
                                    <label>Status: </label>
                                    <ng-select2 [data]="select.statuslist" [options]="options">
                                    </ng-select2>
                                </div>
                                <div class="acr-custom-select form-group">
                                    <label>Price Range: </label>
                                    <ng-select2 [data]="select.pricerangelist" [options]="options">
                                    </ng-select2>
                                </div>
                                <div class="acr-custom-select form-group">
                                    <label>Price: </label>
                                    <ng-select2 [data]="select.price" [options]="options">
                                    </ng-select2>
                                </div>
                                <div class="acr-custom-select form-group">
                                    <label>Guest Rooms: </label>
                                    <ng-select2 [data]="select.guestroom" [options]="options">
                                    </ng-select2>
                                </div>
                                <div class="acr-custom-select form-group">
                                    <label>Type: </label>
                                    <ng-select2 [data]="select.typelist" [options]="options">
                                    </ng-select2>
                                </div>
                                <button type="submit" class="btn-block btn-custom" name="button">Apply filters</button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <h5>Recent Weddings</h5>
                        <!-- Listing Start -->
                        <div class="listing listing-list" *ngFor="let item of getRecentListing() | slice:0:3">
                            <div class="listing-thumbnail">
                                <a routerLink="/listing-details-v1/{{item.id}}"><img [src]="item.gridimg"
                                        [alt]="item.title"></a>
                            </div>
                            <div class="listing-body">
                                <h6 class="listing-title"> <a routerLink="/listing-details-v1/{{item.id}}"
                                        [title]="item.title">{{item.title}}</a> </h6>
                                <span class="listing-price">{{item.price / item.emitime | number:'1.2-2'}}$
                                    <span>/Person</span>
                                </span>
                            </div>
                        </div>
                        <!-- Listing End -->
                    </div>
                    <div class="sidebar-widget">
                        <h5>Cost Calculator</h5>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Total Amount" name="total"
                                   >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Down Payment" name="down-p"
                                   >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Interest Rate" name="interest"
                                   >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Loan Term" name="loan-term"
                                   >
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="cycle">
                                    <option value="Daily">Daily</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Yearly">Yearly</option>
                                </select>
                            </div>
                            <button type="submit" class="btn-custom btn-block" name="button">Calculate</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Sidebar End -->
            <!-- Posts Start -->
            <div class="col-lg-8">
                <!-- Listing Start -->
                <div class="listing listing-list"
                    *ngFor="let item of listingblock | paginate: { itemsPerPage: 4, currentPage: page }">
                    <div class="listing-thumbnail">
                        <a routerLink="/listing-details-v1/{{item.id}}">
                            <img [src]="item.listimg" [alt]="item.title">
                        </a>
                        <div class="listing-badges">
                            <span class="listing-badge featured" *ngIf="item.star"><i class="fas fa-star"></i></span>
                            <span class="listing-badge sale" *ngIf="item.sale">On Wedding</span>
                            <span class="listing-badge pending" *ngIf="item.pending">Pending</span>
                            <span class="listing-badge rent" *ngIf="item.courtmarriage">Court Marriage</span>
                        </div>
                        <div class="listing-controls">
                            <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                            <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                        </div>
                    </div>
                    <div class="listing-body">
                        <div class="listing-author" *ngFor="let agent of getAgent(item.agent)">
                            <img [src]="agent.image" [alt]="agent.name">
                            <div class="listing-author-body">
                                <p> <a routerLink="/listing/agent/{{agent.id}}">{{agent.name}}</a> </p>
                                <span class="listing-date">{{item.postdate}}</span>
                            </div>
                            <div class="dropdown options-dropdown" ngbDropdown>
                                <a href="javascript:void(0)" ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></a>
                                <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                                    <ul>
                                        <li> <a href="tel:{{agent.phoneno}}"> <i class="fas fa-phone"></i> Call
                                                Vendor</a> </li>
                                        <li> <a href="mailto:{{agent.emailid}}"> <i class="fas fa-envelope"></i> Send
                                                Message</a> </li>
                                        <li> <a routerLink="/listing-details-v1/{{item.id}}"> <i
                                                    class="fas fa-bookmark"></i> Book Tour</a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <h5 class="listing-title"> <a routerLink="/listing-details-v1/{{item.id}}"
                                [title]="item.title">{{item.title}}</a> </h5>
                        <span class="listing-price">{{item.price / item.emitime | number:'1.2-2'}}$ <span>/person</span>
                        </span>
                        <p class="listing-text">{{item.text | slice:0:150}}</p>
                        <div class="acr-listing-icons">
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Price">
                                <i class="flaticon-price-tags"></i>
                                <span class="acr-listing-icon-value">{{item.price / item.emitime | number:'1.2-2'}}</span>
                            </div>
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Guests">
                                <i class="flaticon-guest"></i>
                                <span class="acr-listing-icon-value">{{item.guest}}</span>
                            </div>
                            <div class="acr-listing-icon" placement="top" ngbTooltip="Vendor">
                                <i class="flaticon-seller"></i>
                                <span class="acr-listing-icon-value">{{item.vendor}}</span>
                            </div>
                        </div>
                        <div class="listing-gallery-wrapper">
                            <a routerLink="/listing-details-v1/{{item.id}}" class="btn-custom btn-sm secondary">View
                                Details</a>
                            <a href="#" placement="top" ngbTooltip="Gallery" class="listing-gallery"> <i
                                    class="fas fa-camera"></i> </a>
                        </div>
                    </div>
                </div>
                <!-- Listing End -->
                <!-- Pagination Start -->
                <div class="pagination">
                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                </div>
                <!-- Pagination End -->
            </div>
            <!-- Posts End -->
        </div>
    </div>
</div>
<!-- Weddings End -->