<div class="section bg-norepeat bg-bottom" [style.background-image]="'url(assets/img/misc/bldg.png)'">
    <div class="container">
        <div class="section-404">
            <div class="section-404-text mb-0">
                <h1 class="title">Error 404</h1>
                <p class="subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been</p>
                <a routerLink="/" class="btn-custom">Go back Wedding</a>
            </div>
        </div>
    </div>
    <div class="acr-clouds">
        <div class="cloud-one" [style.background-image]="'url(assets/img/misc/cloud1.png)'"></div>
        <div class="cloud-two" [style.background-image]="'url(assets/img/misc/cloud2.png)'"></div>
        <div class="cloud-three" [style.background-image]="'url(assets/img/misc/cloud3.png)'"></div>
        <div class="cloud-four" [style.background-image]="'url(assets/img/misc/cloud4.png)'"></div>
        <div class="cloud-five" [style.background-image]="'url(assets/img/misc/cloud5.png)'"></div>
    </div>
</div>